/* 인풋 */
input.modern{
	width: 100%;
	padding: 0.65rem 1rem;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #777777;
	border-radius: 0.3rem;
	box-sizing: border-box;
}

input.modern:hover,
input.modern:focus {
	border: 1px solid #272727;
}

/* 버튼 */
.btn {
	padding: 0.3rem 0.8rem;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	border: 0 none;
	border-radius: 0.3rem;
}

.btn.ghost {
	background-color: transparent;
}

.btn.big {
	width: 100%;
}

.btn.black {
	background-color: #272727;
	color: white;
	padding: 0.7rem 1.6rem;
}

.btn.black:hover {
	background-color: rgba(1, 1, 1, 0.8);
}


/* 머티리얼 버튼 */
.material_btn {
	position: fixed;
	border: 0;
	font-size: 1.2rem;
	z-index: 1000;
	width: 65px;
	height: 65px;
	color: #fff;
	text-align: center;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 100%;
	cursor: pointer;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.material_btn.pink {
	background: #E91E63;
}

.material_btn.green {
	background: #43A047;
}

.material_btn.orange {
	background: #FB8C00;
}

.material_btn.grey {
	background: #607D8B;
}

.material_btn.bottom {
	bottom: 30px;
	right: 30px;
}

/* 커스텀 체크박스 */
.checkbox {
	position: absolute;
	opacity: 0;
	-webkit-transform: scale(0);
	        transform: scale(0);
	top: 0;
	right: 0;
	z-index: 101;
	padding: 0.67rem;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.checkbox.active {
	opacity: 1;
	-webkit-transform: scale(1);
	        transform: scale(1);
}

.custom_checkbox:not(:checked),
.custom_checkbox:checked {
	position: absolute;
	left: -9999px;
}

.custom_checkbox:not(:checked) + label,
.custom_checkbox:checked + label {
	position: relative;
	padding-left: 18px;
	cursor: pointer;
}

.custom_checkbox:not(:checked) + label:before,
.custom_checkbox:checked + label:before {
	content: '';
	position: absolute;
	left: 0;
	width: 17px;
	height: 17px;
	border: 1px solid black;
	background-color: white;
}

.checkbox.active .custom_checkbox:not(:checked) + label:before,
.checkbox.active .custom_checkbox:checked + label:before {
	border: 1px solid transparent;
	background-color: transparent;
}

.custom_checkbox:not(:checked) + label:after,
.custom_checkbox:checked + label:after {
	content: '\2713';
	position: absolute;
	top: 3px;
	left: 4px;
	color: white;
	font-size: 1.2rem;
	line-height: 0.8;
	-webkit-transition: all .2s;
	transition: all .2s;
}


.custom_checkbox:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	        transform: scale(0);
}

.custom_checkbox:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	        transform: scale(1);
}

.custom_checkbox:checked:focus + label:before,
.custom_checkbox:not(:checked):focus + label:before {
	border: 1px solid blue;
}

.checkbox_control:hover:before {
	border: 1px solid #4778d9!important;
}

/* 그리드 switch 버튼 */

.switch {
	position: relative;
	padding: 0 1rem;
	    margin-right: 0.5rem;
}

.switch:before {
	content: '  ';
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 3rem;
	background: #000;
	border-radius: 30px;
}

.switch_label {
	display: inline-block;
	width: 2rem;
	padding: 0.9rem;
	text-align: center;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.7);
	-webkit-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

.switch_label:hover {
	color: white;
}

.switch_circle {
	width: 3.5rem;
	height: 3.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	background: #486dd1;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: background 0.3s cubic-bezier(0.17, 0.67, 0.14, 1.03), -webkit-transform 0.6s cubic-bezier(0.02, 0.94, 0.09, 0.97);
	transition: background 0.3s cubic-bezier(0.17, 0.67, 0.14, 1.03), -webkit-transform 0.6s cubic-bezier(0.02, 0.94, 0.09, 0.97);
	transition: transform 0.6s cubic-bezier(0.02, 0.94, 0.09, 0.97), background 0.3s cubic-bezier(0.17, 0.67, 0.14, 1.03);
	transition: transform 0.6s cubic-bezier(0.02, 0.94, 0.09, 0.97), background 0.3s cubic-bezier(0.17, 0.67, 0.14, 1.03), -webkit-transform 0.6s cubic-bezier(0.02, 0.94, 0.09, 0.97);
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.switch_circle>i {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 40px;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.switch input#grid_double:checked ~ .switch_circle {
	background: #5e74af;
	-webkit-transform: translate(-50%, -50%) translateX(-4.15rem);
	        transform: translate(-50%, -50%) translateX(-4.15rem);
}

.switch input#grid_third:checked ~ .switch_circle {
	background: #486dd1;
	-webkit-transform: translate(-50%, -50%) translateX(0rem);
	        transform: translate(-50%, -50%) translateX(0rem);
}

.switch input#grid_fourth:checked ~ .switch_circle {
	background: PaleVioletRed;
	-webkit-transform: translate(-50%, -50%) translateX(4.15rem);
	        transform: translate(-50%, -50%) translateX(4.15rem);
}

.switch input[type="radio"]:not(:checked),
.switch input[type="radio"]:checked {
	display: none;
}

/* 커스텀 스크롤 : webkit 브라우저만 가능 */
.scroll_y::-webkit-scrollbar {
	width: 4px;
	border: 10px solid transparent;
	border-radius: 1rem;
}

.scroll_y::-webkit-scrollbar * {
	background: transparent;
}

.scroll_y::-webkit-scrollbar-thumb {
	background: #171717;
	border-radius: 1rem;
}

.scroll_x::-webkit-scrollbar {
	height: 4px;
	border: 10px solid #000000;
	border-radius: 1rem;
}

.scroll_x::-webkit-scrollbar * {
	background: transparent;
}

.scroll_x::-webkit-scrollbar-thumb {
	background: #5e74af;
	border-radius: 1rem;
}


/* 모달 */
.modal {
	position: fixed;
	z-index: -1;
	opacity: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.7);
}

.modal.active {
	opacity: 1;
	z-index: 1;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) scale(0.5);
	transform: translate(-50%, -50%) scale(0.5);
	background-color: #fefefe;
	color: #191919;
	padding: 0 1.5rem 1.5rem 1.5rem;
	border-radius: 0.3rem;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	min-width: 20rem;
	box-shadow: 0 3px 10px rgba(0,0,0,.35);
}

.modal-content.active {
	-webkit-transform: translate(-50%, -50%) scale(1);
	        transform: translate(-50%, -50%) scale(1);
}
.modal-content p{
	font-weight: 400;
	display: inline-block;
	margin: 0.4rem 0 0.8rem 0;
}

.modal-scroll-content{	
	min-height: 10rem;
	max-height: 25rem;
	overflow-y: auto;
	overflow-x: hidden;
}
.modal-scroll-content>div{
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;	
	padding: 0.6rem;	
	color: white;
	border-radius: 0.3rem;
	margin: 0.5rem 0;
	width: 22rem;
	font-size: 0.9rem;
	box-sizing: border-box;
	cursor: pointer;
	z-index: 1;
	overflow: hidden;		
}
.move_photo_hover_div{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;	
	border-radius: 0.3rem;
	background-color: rgba(1,1,1,0.5);
	opacity: 0;
}

.move_photo_hover_div>button{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	color: white;
	font-size: 1.5rem;
	z-index: 1;
}

.modal-scroll-content>div:hover .move_photo_hover_div{
	opacity: 1;
}

.modal-scroll-content>div:before{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;	
	z-index: -1;
	border-radius: 0.3rem;
	background-color: rgba(1,1,1,0.5);
}

.modal-scroll-content>div>.title{
	padding-bottom: 0.3rem;
	overflow:hidden;
	font-size: 1.4rem;
	display: block;
}
.modal-scroll-content>div>.date{
	float: left;
}
.modal-scroll-content>div>.info{
	float: right;
}
.modal-scroll-content>div>.info i{
	vertical-align:bottom;
	font-size: 0.9rem;
	margin-right: 0.2rem;	
}

.modal-close {
	padding: 1rem;
	cursor: pointer;
	position: absolute;
	right: 0;
	top:0;
}

.modal-close>i {
	position: relative;
    z-index: -1;
	font-weight: 800;
	color: gray;
}

.modal-header {
	font-size: 1.8rem;
	font-weight: 300;
	margin-bottom: 1rem;
}
.modal-header>img{
	height: 4rem;
	width: 6.5rem;
	-o-object-position: center;
	   object-position: center;
	border-radius: 0.3rem;
	-o-object-fit: cover;
	   object-fit: cover;	
	margin-right: 0.5rem;
	vertical-align: -60%;
}

.modal-footer {
	margin-top: 0.7rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.modal-footer>a {
	color: gray;
	padding: 0 0.5rem;
	-webkit-box-flex: 1.5;
	    -ms-flex: 1.5;
	        flex: 1.5;
}

.modal-footer>button {
	-webkit-box-flex: 2.5;
	    -ms-flex: 2.5;
	        flex: 2.5;
}


.modal-footer_button {
	text-align: center;
}

.modal-footer_button>.btn {
	width: 6.5rem;
	padding: 0.45rem 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.modal-footer_button>.btn:nth-of-type(1) {
	margin-right: 0.3rem;
	background-color: transparent;
	border: 2px solid #dd3939;
	color: #dd3939;
}

.modal-footer_button>.btn:nth-of-type(2) {
	margin-left: 0.3rem;
	background-color: #4b4bff;
	border: 2px solid #4b3bff;
	color: white;
}

.modal-footer_button>.btn:nth-of-type(2):hover {
	background-color: transparent;
	color: #4b3bff;
}

.modal-footer_button>.btn:nth-of-type(1):hover {
	background-color: #dd3939;
	color: white;
}



.switch-button {
    position: relative;
    margin: 1.5rem 0;
    width: 100%;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.switch-button-case {
	display: inline-block;
	background: none;
	width: 49%;
	height: 100%;
	color: #151515;
	position: relative;
	border: none;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding-bottom: 1px;
}

.switch-button-case:focus {
	outline: none;
}

.switch-button .active {
	background-color: black;
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	z-index: -1;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.switch-button .active-case {
	color: #ffffff;
}

/* 토스트 메세지 */
.toast_container {
	position: fixed;
	z-index: 101;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.toast {
	position: fixed;
	z-index: 101;
	left: 50%;
	background-color: #323232;
    border-radius: 2px;
	padding: 1rem 1.2rem;
	min-width: 19rem;
	opacity: 0;
	top: -100px;
	-webkit-transform: translateX(-50%) scale(0.7);
	        transform: translateX(-50%) scale(0.7);
	-webkit-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
.toast img{
	height: 3rem;
    width: auto;
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 0.5rem;
    vertical-align: -96%;
}
.toast.success{
	background-color: #8BC34A;
}

.toast.alert {
	background-color: #d93737;
}
