.picture_wrapper {
	position: relative;
}

.picture_frame {
	margin: 0 auto;
	width: 65rem;
	height: 38.75rem;
	overflow: hidden;
	border: 2.5rem solid #ffffff;
	border-radius: 0.2rem;
	box-sizing: border-box;
	box-shadow: 0 13px 20px rgba(0, 0, 0, 0.30), 0 12px 12px rgba(0, 0, 0, 0.22);
	transition:all 0.3s;
	>ul {
		@extend %reset-ul;
		width: 100%;
		overflow: hidden;
		transform:translateY(0%);
		transition:transform 0.3s;		
		will-change: transform;
		>li>img {
			display: block;
			width: 100%;
		}
	}
}

//사진 슬라이드
.frame_control {
	@extend %absolute-center;
	transform:translate(-50%, -50%);
	>ul {
		@extend %reset-ul;
		display:flex;
		>li {
			width: 44rem;
		}
	}
}

//슬라이드 전환 화살표 
%arrow-icon {
	cursor: pointer;
	font-size: 5rem;
	color: white;
	text-shadow: 0 10px 10px rgba(0, 0, 0, .5);
	transition:transform 0.3s;
}

#left {
	text-align: left;
	>i {
		@extend %arrow-icon;
		&:hover {
			transform:translateX(-10px);
		}
	}
}

#right {
	text-align: right;
	>i {
		@extend %arrow-icon;
		&:hover {
			transform:translateX(10px);
		}
	}
}