#header {
	padding: 1.7rem 0 1.5rem 0;
	&:after {
		content: '';
		display: block;
		clear: left;
	}
}

//~~님의 갤러리입니다 ~개의 사진
.header-info-headline {
	font-size: 2.6rem;
	& ~ small {
		margin-left: 0.65rem;
		font-size: 1.7rem;
	}
}

%nav {
	margin: 0;
	padding: 1rem;
	float: left;
	@include prefix((box-sizing: border-box),webkit);
	>li{
		display: inline-block;
	}
}

// 뒤로가기버튼, 텍스트 등
.header-info-nav{
	@extend %nav;
	width: 30%;
	white-space: nowrap;
}

// switch버튼, 모달 버튼 등 
.header-controls-nav{
	@extend %nav;
	width: 70%;
	text-align: right;
	>li {
		vertical-align: middle;
		>button {
			padding: 0.7rem;		
			background-color: transparent;
			color: white;			
			border: none;	
			cursor: pointer;
			>i {			
				font-size: 30px;
				vertical-align: top;				
			}
		}
	}
}

//뒤로가기 버튼
.goBack {
	margin-right: 0.55rem;
	vertical-align: text-bottom;
	>button {
		position: relative;
		padding: 1.3rem;
		display: block;
		width: 1rem;
		height: 1rem;
		background-color: transparent;
		color: white;
		border: 2px solid white;
		border-radius: 100%;
		cursor: pointer;
		>i {
			@extend %absolute-center;
			font-size: 2.5rem;
			@include prefix((transform:translate(-50%, -50%)),webkit);
		}
	}
}
